<form class="form-horizontal">
    <h3>{{ _('Preferences') }}</h3>
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.print_eta.use_twenty_four_hour_view">{{ _('Format time in 24 hour view (13:00) instead of 12 hour view (1:00 PM).') }}
    </label>
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.print_eta.use_fancy_text">{{ _('Enable fancy text (e.g. Tomorrow).') }}
    </label>
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.print_eta.show_eta_on_printer">{{ _('Show the ETA on the printer\'s screen (uses M117).') }}
    </label>

    <h3>{{ _('Formatting') }}</h3>
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.print_eta.remove_colons">{{ _('Remove colons (:) from the ETA (required for some printer firmwares).') }}
    </label>
</form>