<form class="form-horizontal">
    <h3>{{ _('Preferences') }}</h3>
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.print_eta.use_twenty_four_hour_view">{{ _('Format time in 24 hour view (13:00) instead of 12 hour view (1:00 PM).') }}
    </label>
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.print_eta.show_progress_on_printer">{{ _('Show the print progress on the printer\'s screen (uses M73).') }}
    </label>

    <h3>{{ _('Formatting') }}</h3>
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.print_eta.remove_colons">{{ _('Remove colons (:) from the ETA (required for some printer firmwares).') }}
    </label>

    <h3>{{ _('Printer Messages') }}</h3>
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.print_eta.enable_printer_messages">{{ _('Enable printer messages (uses M117).') }}
    </label>
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.print_eta.show_eta_printer_message">{{ _('Show the print\'s ETA on the printer\'s screen.') }}
    </label>
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.print_eta.show_time_elapsed_printer_message">{{ _('Show how long the print has been running on the printer\'s screen.') }}
    </label>
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.print_eta.show_time_remaining_printer_message">{{ _('Show how long the print has left on the printer\'s screen.') }}
    </label>
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.print_eta.show_progress_printer_message">{{ _('Show the print progress on the printer\'s screen.') }}
    </label>
    <div class="control-group" title="Message interval">
        <label class="control-label">Message interval (seconds)</label>
        <div class="controls">
            <input type="number" min="10" max="120" step="1" data-bind="value: settings.plugins.print_eta.printer_message_interval">
        </div>
    </div>
</form>